:root {
  font-size: 10px;
  --main-background-color: rgba(33, 37, 41, 1);
  --main-text-color: #ffffff;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  height: 100%;
}
.wrapper {
  max-width: 1440px;
  min-width: 1000px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  margin: 0 auto;
}

/* ----- Header ----- */

.header {
  max-width: 1342px;
  margin: 0 auto;
  padding-top: 25px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  animation: logo 3s linear infinite;
}

.nav__list {
  display: flex;
  padding: 0;
  justify-content: space-around;
  min-width: 429px;
  list-style: none;
}

.item a {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 600;
  color: var(--main-text-color);
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.item a:hover {
  color: rgba(255, 183, 66, 1);
  background: #0b74dd;
  transform: scale(1.2);
  transition: 0.4s;
  box-shadow: 0px 0px 20px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}

.hire-me-btn a {
  font-family: "Poppins", sans-serif;
  color: rgba(33, 37, 41, 1);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding: 12px 26px 12px 26px;
  text-decoration: none;
  background-color: #ffb742;
  border-radius: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.main {
  flex: 1 1 auto;
  margin-top: 108px;
}

/* ----- Hero ----- */

.hero {
  max-width: 1342px;
  margin: 0 auto;
}

.hero__content {
  text-align: center;
  text-transform: capitalize;
}

.hero__super-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 51px;
  color: var(--main-text-color);
  margin: 0;
}

.hero__super-title > span {
  color: rgba(255, 183, 66, 1);
  text-decoration: underline;
}

.hero-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 91px;
  color: var(--main-text-color);
  margin: 0;
}

.hero__sub-title {
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 2.4rem;
  line-height: 51px;
}

.hero__cards {
  display: flex;
  justify-content: space-around;
  margin-top: 136px;
}

.card {
  display: flex;
  width: 32%;
  min-height: 120px;
  align-items: center;
  justify-content: space-around;
  background: rgba(41, 43, 46, 1);
  border-radius: 10px;
}

.card__text {
  text-align: center;
}

.card-text-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 40px;
  color: rgba(255, 183, 66, 1);
  margin: 0;
}

.card-text-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 31px;
  color: var(--main-text-color);
  margin: 0;
  text-transform: capitalize;
}

.card:hover {
  background: linear-gradient(
    100deg,
    rgba(255, 183, 66, 1),
    rgba(255, 123, 66, 0.76)
  );
  transition: all 0.5s linear;
  transform: scale(1.1);
}

.card:hover p {
  color: black;
}

/* -----About me----- */

.about {
  max-width: 1384px;
  display: flex;
  justify-content: space-around;
  margin-top: 221px;
  box-sizing: border-box;
}
.foto {
  padding-top: 33px;
}

.about__me {
  max-width: 672px;
  padding-left: 74px;
}

.upper-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: rgba(255, 183, 66, 1);
  width: 148px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  padding: 6px 0px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 30px;
  color: var(--main-text-color);
  margin: 0;
  margin-top: 10px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: rgba(212, 212, 212, 1);
  margin: 30px 0px 50px 0px;
}

.hire-me-btn a {
  min-width: 148px;
}

.hire-me-btn a:hover {
  transform: scale(1.1);
  transition: 0.3s linear;
  box-shadow: 0px 0px 30px #ffb742;
  border-radius: 50px;
}

/* ----- Skills ----- */

.skills {
  max-width: 1339px;
  margin: 0 auto;
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}

.my-skills {
  max-width: 672px;
}

.my-skills h2 {
  line-height: 56px;
  max-width: 518px;
}

.my-skills p {
  margin: 24px 0px 70px 0px;
}

.cards {
  display: flex;
  max-width: 560px;
  flex-wrap: wrap;
  column-gap: 16px;
  height: 176px;
  row-gap: 16px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.bkg {
  background-image: url(../img/cards-background.svg);
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.bkg:hover {
  background: #ffb742;
}

.skills__card {
  padding: 16px;
}

.sass {
  padding: 22px 16px;
}

.figma {
  padding: 16px 24px;
}

/* My works */

.my-works {
  max-width: 1234px;
  margin: 0 auto;
  text-align: center;
  margin-top: 137px;
}

.my-works__list {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  flex-wrap: wrap;
}

.my-works__list li {
  list-style: none;
}

.my-works__menu a {
  font-family: "Poppins", sans-serif;
  color: var(--main-text-color);
  font-size: 1.6rem;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 20px 5px 20px;
}

.my-works__menu a:hover {
  background-color: #ffb742;
  color: #212529;
  border-radius: 3px;
}

.my-works__cards {
  display: flex;
  max-width: 1234px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 48px;
  flex-wrap: wrap;
}

.my-works__cards img {
  border-radius: 5px;
}

.work-cards {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
  flex-wrap: wrap;
}

.work-cards div:hover {
  box-shadow: 0px 0px 20px white;
  border-radius: 10px;
  transition: transform 2.2s linear;
  transform: rotate3d(1, 1, 1, 360deg);
}

/* Customers */

.customers {
  max-width: 1217px;
  margin: 0 auto;
  text-align: center;
  margin-top: 136px;
}

.customers-text > div {
  min-width: 192px;
}

.customers__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  flex-wrap: wrap;
}

.customers img {
  border-radius: 20px;
}

.customers__cards div:hover {
  transform: scale(1.1);
  transition: transform 0.5s linear;
  box-shadow: 0px 0px 80px black;
  border-radius: 20px;
}

/* Footer */

.footer {
  background-color: #1c1c1c;
  margin-top: 253px;
}

.footer-text {
  display: flex;
  justify-content: space-around;
  padding: 148px 0px 93px 0px;
}

.kartik-bansal > h2 {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  color: #ffb742;
  margin: 0;
  line-height: 32px;
}

.kartik-bansal p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 32px;
  font-weight: 600;
  color: rgba(212, 212, 212, 1);
  margin: 31px 0px 0px 0px;
  max-width: 253px;
}

.links h3,
.social h3,
.newsletter h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 2.15rem;
  font-weight: 700;
  line-height: 32px;
  color: var(--main-text-color);
  margin: 0;
}

.links__list,
.social__list {
  padding: 13px 0px 0px 0px;
  margin: 0;
}

.links__list li,
.social__list li {
  list-style: none;
}

.links__list a,
.social__list a,
.newsletter p {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 36px;
  color: rgba(123, 123, 123, 1);
  text-decoration: none;
  display: inline-block;
}

.newsletter {
  max-width: 319px;
}

.kartik-bansal h2:hover {
  transform: scale(1.2);
  background-color: rgb(10, 53, 92);
  box-shadow: 0px 0px 20px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  transition: all 0.3s linear;
}

.links h3:hover,
.social h3:hover,
.newsletter h3:hover {
  background-color: #ffb742;
  text-align: center;
  color: #1c1c1c;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  transform: scale(1.1);
  transition: transform 0.4s linear;
  box-shadow: 0px 0px 20px #ffb742;
}

.links li:hover,
.social li:hover,
.newsletter p:hover,
.kartik-bansal p:hover {
  background-color: #ffb742;
  text-align: center;
  border-radius: 10px;
  transform: scale(1.2);
  color: blueviolet;
  transition: transform 0.4s linear;
  box-shadow: 0px 0px 20px;
}

.social__list a,
.links__list a {
  width: 100%;
}

.social__list a:hover,
.links__list a:hover {
  color: blueviolet;
}

@keyframes logo {
  from,
  to {
    background-color: #212529;
    box-shadow: 0px 0px 10px #ffb742;
    border-radius: 20px;
  }
  100% {
    transform: rotate3d(0, 0, 10, 360deg);
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden;
  }
  .header {
    max-width: 1140px;
  }
  .hero__cards {
    justify-content: space-evenly;
  }
  .card {
    width: 31%;
  }
  .skills {
    max-width: 1150px;
  }
  .about__me {
    max-width: 650px;
    padding-right: 40px;
  }
  .my-skills {
    max-width: 550px;
  }
  .my-works__cards {
    max-width: 1185px;
  }
  .customers {
    max-width: 1170px;
  }
}

@media screen and (max-width: 1300px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  .header {
    max-width: 1090px;
  }
  .hero__cards {
    max-width: 1250px;
    justify-content: space-evenly;
  }
  .card {
    width: 30%;
  }
  .skills {
    max-width: 1110px;
  }
  .about__me {
    max-width: 650px;
    padding-right: 20px;
  }
  .my-skills {
    max-width: 500px;
  }
  .my-works__cards {
    max-width: 1150px;
    justify-content: space-evenly;
  }
  .right-work-card {
    margin-top: 35px;
  }
  .customers {
    max-width: 1160px;
  }
}

@media screen and (max-width: 1245px) {
  .header {
    max-width: 1060px;
  }
  .card {
    width: 30%;
  }
  .customers {
    max-width: 1100px;
  }
  .customers__cards {
    justify-content: space-evenly;
  }
  .customers__cards div:nth-child(3) {
    margin-top: 35px;
  }
}
