:root {
  font-size: 10px;
  --main-background-color: rgba(33, 37, 41, 1);
  --main-text-color: #ffffff;
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  height: 100%;
}
.wrapper {
  max-width: 1440px;
  min-width: 1000px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-background-color);
  margin: 0 auto;
}

/* ----- Header ----- */

.header {
  max-width: 1342px;
  margin: 0 auto;
  padding-top: 17px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  padding: 0;
  justify-content: space-around;
  min-width: 429px;
  list-style: none;
}

.item a {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 27px;
  font-weight: 600;
  color: var(--main-text-color);
  text-decoration: none;
}

.item a:hover {
  color: rgba(255, 183, 66, 1);
}

.hire-me-btn a {
  font-family: "Poppins", sans-serif;
  color: rgba(33, 37, 41, 1);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding: 12px 26px 12px 26px;
  text-decoration: none;
  background-color: #ffb742;
  border-radius: 50px;
  box-sizing: border-box;
  display: inline-block;
}

.main {
  flex: 1 1 auto;
  margin-top: 108px;
}

/* ----- Hero ----- */

.hero {
  max-width: 1342px;
  margin: 0 auto;
}

.hero__content {
  text-align: center;
  text-transform: capitalize;
}

.hero__super-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 51px;
  color: var(--main-text-color);
  margin: 0;
}

.hero__super-title > span {
  color: rgba(255, 183, 66, 1);
  text-decoration: underline;
}

.hero-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 91px;
  color: var(--main-text-color);
  margin: 0;
}

.hero__sub-title {
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 2.4rem;
  line-height: 51px;
}

.hero__cards {
  display: flex;
  justify-content: space-around;
  margin-top: 136px;
}

.card {
  display: flex;
  width: 32%;
  min-height: 120px;
  align-items: center;
  justify-content: space-around;
  background: rgba(41, 43, 46, 1);
  border-radius: 10px;
}

.card__text {
  text-align: center;
}

.card-text-1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 40px;
  color: rgba(255, 183, 66, 1);
  margin: 0;
}

.card-text-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 31px;
  color: var(--main-text-color);
  margin: 0;
  text-transform: capitalize;
}

.card:hover {
  background: linear-gradient(
    100deg,
    rgba(255, 183, 66, 1),
    rgba(255, 123, 66, 0.76)
  );
  transition: all 0.5s linear;
}

.card:hover p {
  color: black;
}

/* -----About me----- */

.about {
  max-width: 1384px;

  display: flex;
  justify-content: space-around;
  margin-top: 221px;
  box-sizing: border-box;
}
.foto {
  padding-top: 33px;
}
.about__me {
  max-width: 672px;
  padding-left: 74px;
}

.upper-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  color: rgba(255, 183, 66, 1);
  width: 148px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  padding: 6px 0px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 30px;
  color: var(--main-text-color);
  margin: 0;
  margin-top: 10px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 30px;
  color: rgba(212, 212, 212, 1);
  margin: 30px 0px 50px 0px;
}

.hire-me-btn a {
  min-width: 148px;
}
/* .about__btn > a {
    font-family: "Poppins", sans-serif;
  color: rgba(33, 37, 41, 1);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding: 12px 26px 12px 26px;
  text-decoration: none;
  border: 2px solid #ffb742;
  background-color: #ffb742;
  min-width: 148px;
  border-radius: 50px;
  display: inline-block;
  box-sizing: border-box;
} */

/* ----- Skills ----- */

.skills {
  max-width: 1339px;
  margin: 0 auto;
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
}

.my-skills {
  max-width: 672px;
}

.my-skills h2 {
  line-height: 56px;
  max-width: 518px;
}

.my-skills p {
  margin: 24px 0px 70px 0px;
}

.cards {
  display: flex;
  max-width: 560px;
  flex-wrap: wrap;
  column-gap: 16px;
  height: 176px;
  row-gap: 16px;
  box-sizing: border-box;
}

.bkg {
  background-image: url(../img/cards-background.svg);
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.bkg:hover {
  background: #ffb742;
}

.skills__card {
  padding: 16px;
}

.sass {
  padding: 22px 16px;
}

.figma {
  padding: 16px 24px;
}
